body  {
        background-color:whitesmoke;
    }

@font-face {
    font-family: 'oghey';
    src: url('glimmeroflight.otf'); 
  }

.title{font-family: 'oghey'; src: url(glimmeroflight.otf); font-weight: bold;}
#title{font-family: 'oghey'; src: url(glimmeroflight.otf); font-weight: bold;}
nav{background-color: #05263d;}
.navbar-brand{font-family: 'oghey'; src: url(glimmeroflight.otf);}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#title {
          font-size: 30pt;
  }

  #navtexthome{margin-left: 1.4%;}
  #navtext{margin-left:2.5%; margin-right: 1.1%;}

  #content{
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 50pt;
    text-align: center;

  }

  video{width: 50; height: 30}
}

@media only screen and (min-width: 768px) {
	#title {
          font-size: 80pt;
  }
  
  #navtext{margin-right:1.5%}
  #navtexthome{margin-left:2.1%; margin-right: 1.1%;}

  #content{
    margin-left: 1cm; 
    margin-right: 1cm;
    text-align: center;
  }
  #cho{ font-size: 35pt;}
}



@media only screen and (min-width: 1200px) {
  #title {
    font-size: 65pt;
  }
  #navtext{margin-left: 1.4%;}
  #content{margin-top: 4cm;}
  .content{
    margin-left: 1cm; 
    margin-right: 1cm;
  }
  #judul {margin-top: 50px;}
  #cho{text-align: right;}

  video{width: 500 height: 300}

}












.content{margin-left: 1cm; margin-right: 1cm;}
.row:nth-child(2){display:flex; justify-content: flex-end;}





